

table {
	border: 1px solid #cc8800;
	position:absolute;
	right: 0;
	top: 82px;
}

td {
	border: 1px solid #cc8800;
	font-size: 14px;
}


.loginData {
	border: none; width : 250px;
	height: 150px;
	margin: 60px 200px;
	float: left;
	width: 250px;
}

.wth_50 {
	width: 50%;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.loginData tr, .loginData td {
	border: none;
	width: 47%;
	height: 26px;
	border-collapse: collapse;
	border-spacing: 0;
}

.loginButton {
	float: right;
	text-align: center;
	box-shadow: none !important;
}

.page_body {
	background-color: #ffffcc;
}
.bold{
	font-weight: bold;
	font-size:16px;
}
.usertable {
	border: 1px solid #C80;
	margin-left: 200px;
	width: 50%;
}

.main {
	width: 1200px;
	height: 400px;
}

li a {
	text-decoration: none;
	color: blue;
}

li a:hover {
	text-decoration: underline;
	color: red;
}
.footer {
position: fixed;
bottom: 0;

}
