<form name ="taskForm" ng-repeat="form in forms" ng-submit="addRow()" novalidate >
    Title:<font color='red'>*</font><br>
    <input type="text" name="title" ng-model="form.title" required>
    <div ng-messages="taskForm.title.$error"
    ng-if="taskForm.desc.$dirty">
      <div ng-message="required"><font color='red'>This field is required</font></div>
      <div ng-message="text">Input is invalid</div>
    </div>

    <br>Description:<font color='red'>*</font><br>
    <textarea rows="4" cols="50" name="desc" ng-model="form.desc" required>
    </textarea>

   <!--  <input type="text" name="desc" ng-model="form.desc" required> -->
    <div ng-messages="taskForm.desc.$error"
      ng-if="taskForm.desc.$dirty">
      <div ng-message="required"><font color='red'>This field is required</font></div>
      <div ng-message="text">Input is invalid</div>
    </div>

    <br>Date:<br>
    <input type="date" name= "date" ng-model="form.date" >
    <!-- <div ng-messages="taskForm.date.$error"
          ng-if="taskForm.date.$dirty">
      <div ng-message="required">This field is required</div>
      <div ng-message="date">Input is invalid</div> -->
    </div>

    <br>Time:<br>
    <input type="time" name="time" ng-model="form.time" >
    <!-- <div ng-messages="taskForm.time.$error"
ng-if="taskForm.time.$dirty">

      <div ng-message="required">This field is required</div>
      <div ng-message="time">Input is invalid</div> -->
    </div>
    <br><br>
    <input type="button" value = "Add" ng-click="addFields()"></input>
    <input type="button" value = "Save" ng-click="saveTasks(form)"></input>
  </form >
