
    <table class="table" >
    <tr>
      <th>Title
      </th>
      <th>Desc
      </th>
      <th>Date
      </th>
      <th>Time
      </th>
    </tr>
    <tr ng-repeat="task in tasks">
      <td>{{task.title}}
      </td>
      <td>{{task.desc}}
      </td>
      <td>{{task.date}}
      </td>
      <td>{{task.time}}
      </td>
      <!-- <td> -->
      <td  ng-show="task.done">I am done
      </td>
      <td>
      <button ng-show="!task.done" ng-click='markDone(task)'>Mark as Done</button>
      </td>
      <td>
      <button ng-click='Delete(task.title)'>Delete</button>
      </td>
    </tr>
    </table>
